node_modules
# Keep environment variables out of version control

/generated/prisma


# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE/editor folders
.vscode/
.idea/
*.swp

# Coverage / test output
coverage/
.vercel